* text=auto !eol
/Dependencies -text
DyLP/MSVisualStudio/v10/Dylp.sln -text
DyLP/MSVisualStudio/v10/DylpUnitTest/DylpUnitTest.vcxproj -text
DyLP/MSVisualStudio/v10/OsiDylpUnitTest/OsiDylpUnitTest.vcxproj -text
DyLP/MSVisualStudio/v10/libDylp/libDylp.vcxproj -text
DyLP/MSVisualStudio/v10/libDylpStdLib/libDylpStdLib.vcxproj -text
DyLP/MSVisualStudio/v10/libOsiDylp/libOsiDylp.vcxproj -text
DyLP/MSVisualStudio/v10alt/Dylp.sln -text
DyLP/MSVisualStudio/v10alt/DylpUnitTest.vcxproj -text
DyLP/MSVisualStudio/v10alt/OsiDylpUnitTest.vcxproj -text
DyLP/MSVisualStudio/v10alt/dylp.props -text
DyLP/MSVisualStudio/v10alt/genDefForDylp.ps1 -text
DyLP/MSVisualStudio/v10alt/libDylp.def -text
DyLP/MSVisualStudio/v10alt/libDylp.vcxproj -text
DyLP/MSVisualStudio/v10alt/libDylpStdLib.vcxproj -text
DyLP/MSVisualStudio/v10alt/libOsiDylp.vcxproj -text
DyLP/MSVisualStudio/v10alt/osidylp.props -text
DyLP/MSVisualStudio/v9/Dylp.sln -text
DyLP/MSVisualStudio/v9/DylpUnitTest/DylpUnitTest.vcproj -text
DyLP/MSVisualStudio/v9/OsiDylpUnitTest/OsiDylpUnitTest.vcproj -text
DyLP/MSVisualStudio/v9/libDylp/libDylp.vcproj -text
DyLP/MSVisualStudio/v9/libDylpStdLib/libDylpStdLib.vcproj -text
DyLP/MSVisualStudio/v9/libOsiDylp/libOsiDylp.vcproj -text
DyLP/MSVisualStudio/v9alt/Dylp.sln -text
DyLP/MSVisualStudio/v9alt/DylpUnitTest.vcproj -text
DyLP/MSVisualStudio/v9alt/OsiDylpUnitTest.vcproj -text
DyLP/MSVisualStudio/v9alt/dylp.vsprops -text
DyLP/MSVisualStudio/v9alt/genDefForDylp.ps1 -text
DyLP/MSVisualStudio/v9alt/libDylp.def -text
DyLP/MSVisualStudio/v9alt/libDylp.vcproj -text
DyLP/MSVisualStudio/v9alt/libDylpStdLib.vcproj -text
DyLP/MSVisualStudio/v9alt/libOsiDylp.vcproj -text
DyLP/MSVisualStudio/v9alt/osidylp.vsprops -text
DyLP/Makefile.am -text
DyLP/Makefile.in -text
DyLP/NEWS -text
DyLP/config.guess -text
DyLP/config.sub -text
DyLP/configure -text
DyLP/configure.ac -text
DyLP/depcomp -text
DyLP/doc/Figures/Makefile.am -text
DyLP/doc/Figures/Makefile.in -text
DyLP/doc/Figures/conmgmtcalls.drw -text
DyLP/doc/Figures/conmgmtcalls.epsu -text
DyLP/doc/Figures/dual2flow.drw -text
DyLP/doc/Figures/dual2flow.epsu -text
DyLP/doc/Figures/dualcalls.drw -text
DyLP/doc/Figures/dualcalls.epsu -text
DyLP/doc/Figures/dualerrorflow.drw -text
DyLP/doc/Figures/dualerrorflow.epsu -text
DyLP/doc/Figures/dualpivcalls.drw -text
DyLP/doc/Figures/dualpivcalls.epsu -text
DyLP/doc/Figures/dylpnormalflow.drw -text
DyLP/doc/Figures/dylpnormalflow.epsu -text
DyLP/doc/Figures/epsupatch.sed -text
DyLP/doc/Figures/factorcalls.drw -text
DyLP/doc/Figures/factorcalls.epsu -text
DyLP/doc/Figures/primal1flow.drw -text
DyLP/doc/Figures/primal1flow.epsu -text
DyLP/doc/Figures/primal2flow.drw -text
DyLP/doc/Figures/primal2flow.epsu -text
DyLP/doc/Figures/primalcalls.drw -text
DyLP/doc/Figures/primalcalls.epsu -text
DyLP/doc/Figures/primalerrorflow.drw -text
DyLP/doc/Figures/primalerrorflow.epsu -text
DyLP/doc/Figures/primalpivcalls.drw -text
DyLP/doc/Figures/primalpivcalls.epsu -text
DyLP/doc/Figures/startupflow.drw -text
DyLP/doc/Figures/startupflow.epsu -text
DyLP/doc/Figures/varmgmtcalls.drw -text
DyLP/doc/Figures/varmgmtcalls.epsu -text
DyLP/doc/Makefile.am -text
DyLP/doc/Makefile.in -text
DyLP/doc/README -text
DyLP/doc/TexMF/Makefile.am -text
DyLP/doc/TexMF/Makefile.in -text
DyLP/doc/TexMF/README -text
DyLP/doc/TexMF/bibtex/bib/dylp.bib -text
DyLP/doc/TexMF/bibtex/bst/louplain.bst -text
DyLP/doc/TexMF/fonts/tfm/omselabo.tfm -text
DyLP/doc/TexMF/fonts/tfm/omselabo8t.tfm -text
DyLP/doc/TexMF/fonts/tfm/omselabu.tfm -text
DyLP/doc/TexMF/fonts/tfm/omselabu8t.tfm -text
DyLP/doc/TexMF/fonts/tfm/omselao.tfm -text
DyLP/doc/TexMF/fonts/tfm/omselao8t.tfm -text
DyLP/doc/TexMF/fonts/tfm/omselau.tfm -text
DyLP/doc/TexMF/fonts/tfm/omselau8t.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkd7t.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkd7y.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkd8t.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkdi7m.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkdi7t.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkdi7y.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkdi8t.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkdo8t.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkdu8r.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkdu8t.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkl7t.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkl7v.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkl7y.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkl8t.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkli7m.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkli7t.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkli7y.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbkli8t.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbklo8t.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbklu8r.tfm -text
DyLP/doc/TexMF/fonts/tfm/pbklu8t.tfm -text
DyLP/doc/TexMF/fonts/tfm/psyro.tfm -text
DyLP/doc/TexMF/fonts/vf/pbkd7t.vf -text
DyLP/doc/TexMF/fonts/vf/pbkd7y.vf -text
DyLP/doc/TexMF/fonts/vf/pbkd8t.vf -text
DyLP/doc/TexMF/fonts/vf/pbkdi7m.vf -text
DyLP/doc/TexMF/fonts/vf/pbkdi7t.vf -text
DyLP/doc/TexMF/fonts/vf/pbkdi7y.vf -text
DyLP/doc/TexMF/fonts/vf/pbkdi8t.vf -text
DyLP/doc/TexMF/fonts/vf/pbkdo8t.vf -text
DyLP/doc/TexMF/fonts/vf/pbkdu8t.vf -text
DyLP/doc/TexMF/fonts/vf/pbkl7t.vf -text
DyLP/doc/TexMF/fonts/vf/pbkl7v.vf -text
DyLP/doc/TexMF/fonts/vf/pbkl7y.vf -text
DyLP/doc/TexMF/fonts/vf/pbkl8t.vf -text
DyLP/doc/TexMF/fonts/vf/pbkli7m.vf -text
DyLP/doc/TexMF/fonts/vf/pbkli7t.vf -text
DyLP/doc/TexMF/fonts/vf/pbkli7y.vf -text
DyLP/doc/TexMF/fonts/vf/pbkli8t.vf -text
DyLP/doc/TexMF/fonts/vf/pbklo8t.vf -text
DyLP/doc/TexMF/fonts/vf/pbklu8t.vf -text
DyLP/doc/TexMF/tex/latex/codedocn.sty -text
DyLP/doc/TexMF/tex/latex/loubookman.sty -text
DyLP/doc/TexMF/tex/latex/loumath.sty -text
DyLP/doc/TexMF/tex/latex/loustandard.sty -text
DyLP/doc/TexMF/tex/latex/psnfss/omlpbk.fd -text
DyLP/doc/TexMF/tex/latex/psnfss/omspbk.fd -text
DyLP/doc/TexMF/tex/latex/psnfss/omxpbk.fd -text
DyLP/doc/TexMF/tex/latex/psnfss/ot1pag.fd -text
DyLP/doc/TexMF/tex/latex/psnfss/ot1pbk.fd -text
DyLP/doc/TexMF/tex/latex/psnfss/t1pag.fd -text
DyLP/doc/TexMF/tex/latex/psnfss/t1pbk.fd -text
DyLP/doc/TexMF/tex/latex/psnfss/upbk.fd -text
DyLP/doc/TexMF/tex/latex/psnfss/upsy.fd -text
DyLP/doc/accuracy.tex -text
DyLP/doc/antidegenlite.tex -text
DyLP/doc/build_dylpdoc.in -text
DyLP/doc/conmgmt.tex -text
DyLP/doc/debug.tex -text
DyLP/doc/dual.tex -text
DyLP/doc/dylp.pdf -text svneol=unset#application/pdf
DyLP/doc/dylp.ps -text svneol=unset#application/postscript
DyLP/doc/dylp.tex -text
DyLP/doc/dylpabsdir.tex.in -text
DyLP/doc/dylpfigs.tex -text
DyLP/doc/dynamic.tex -text
DyLP/doc/interface.tex -text
DyLP/doc/intro.tex -text
DyLP/doc/lpbasis.tex -text
DyLP/doc/makefile.dylpdoc.in -text
DyLP/doc/notation.tex -text
DyLP/doc/perturbed.tex -text
DyLP/doc/pricing.tex -text
DyLP/doc/primal.tex -text
DyLP/doc/scaling.tex -text
DyLP/doc/solutions.tex -text
DyLP/doc/startup.tex -text
DyLP/doc/statistics.tex -text
DyLP/doc/updateformulae.tex -text
DyLP/doc/varmgmt.tex -text
DyLP/doxydoc/doxygen.conf.in -text
DyLP/dylp-uninstalled.pc.in -text
DyLP/dylp.pc.in -text
DyLP/examples/Makefile.in -text
DyLP/examples/generic.spc -text
DyLP/inc/config_dylp.h.in -text
DyLP/install-sh -text
DyLP/ltmain.sh -text
DyLP/m4/ac_c_add_to_includes.m4 -text
DyLP/m4/ac_c_get_sunpro_libs.m4 -text
DyLP/m4/ac_dylp_equiv_for_cpp_bool.m4 -text
DyLP/m4/ac_dylp_find_fp_funcs.m4 -text
DyLP/m4/ac_dylp_fix_cppflags.m4 -text
DyLP/m4/ac_dylp_options.m4 -text
DyLP/m4/ac_osidylp_options.m4 -text
DyLP/missing -text
DyLP/src/Dylp/Makefile.am -text
DyLP/src/Dylp/Makefile.in -text
DyLP/src/Dylp/dy_rays.c -text
DyLP/src/Dylp/dy_solutions.c -text
DyLP/src/Dylp/dy_tableau.c -text
DyLP/src/DylpStdLib/DylpConfig.h -text
DyLP/src/DylpStdLib/Makefile.am -text
DyLP/src/DylpStdLib/Makefile.in -text
DyLP/src/DylpStdLib/dylib_binsrch.c -text
DyLP/src/DylpStdLib/dylib_bnfrdr.c -text
DyLP/src/DylpStdLib/dylib_bnfrdr.h -text
DyLP/src/DylpStdLib/dylib_bnfrdrio.c -text
DyLP/src/DylpStdLib/dylib_errs.c -text
DyLP/src/DylpStdLib/dylib_errs.h -text
DyLP/src/DylpStdLib/dylib_fortran.h -text
DyLP/src/DylpStdLib/dylib_hash.c -text
DyLP/src/DylpStdLib/dylib_hash.h -text
DyLP/src/DylpStdLib/dylib_io.c -text
DyLP/src/DylpStdLib/dylib_io.h -text
DyLP/src/DylpStdLib/dylib_keytab.h -text
DyLP/src/DylpStdLib/dylib_littab.c -text
DyLP/src/DylpStdLib/dylib_std.h -text
DyLP/src/DylpStdLib/dylib_strrtns.c -text
DyLP/src/DylpStdLib/dylib_strrtns.h -text
DyLP/src/OsiDylp/Makefile.am -text
DyLP/src/OsiDylp/Makefile.in -text
DyLP/src/OsiDylp/OsiDylpSimplex.cpp -text
DyLP/src/OsiDylp/osi-dylp-uninstalled.pc.in -text
DyLP/src/OsiDylp/osi-dylp.pc.in -text
DyLP/test/Makefile.am -text
DyLP/test/Makefile.in -text
DyLP/test/dytest_problems.c -text
DyLP/test/dytest_rays.c -text
DyLP/test/dytest_solutions.c -text
DyLP/test/dytest_tableau.c -text
DyLP/test/unitTest.c -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf.in -text
/install-sh -text
/ltmain.sh -text
/missing -text
